<div class="container">
    <h2 class="titre-index"><%= @heros.count %></h2>
    <div class="cards-index">
    <div style="margin-top: 150px;">
    <div class="container">
      <div class="cards-index">
        <% @heros.each do |hero| %>
          <div class="card">
            <%= hero.photos.attached? ? cl_image_tag(hero.photos.first&.key, alt: "#{hero.name}", class:"movie-image") : image_tag("superhero.jpg")%>
                <div class="cloud-cards">
                  <p class="text"><%= hero.description %></p>
                </div>
                <span class="button"><%= hero.price_per_day%>€ par jour</span>
                <span class="button-titre"><%= hero.name%></span>
                </div>
                <% end %>
              </div>
      </div>
    </div>
