
<div style="margin-top: 80px;">
    <div class="container-show">
      <div class="card-show-left">
        <% @hero_photo_url = cl_image_path(@hero.photos.first.key) %>
          <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
          <div class="cards-show">
          <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
          <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
          <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
          </div>
        <div class ="card-footer-show">
        <span class="button-titre-show"><%=@hero.name %></span>
        <div class="rectangle-show">
          <p class="text-show">Ce super-héros incarne l'essence de la bravoure et de l'innovation, fusionnant habilement force, intelligence et détermination pour combattre l'injustice sous toutes ses formes. Équipé d'un costume distinctif conçu pour optimiser ses capacités uniques,
          il navigue à travers les défis avec une agilité et une précision exceptionnelles. Son arsenal, riche en gadgets avancés et en technologies personnalisées, lui confère un avantage tactique dans les situations les plus périlleuses.</p>
        </div>
          <span class="button-show"><%= @hero.price_per_day%>€ par jour</span>
            </div>
          </div>



  <div class="card-show-right" data-controller="price-calculation">
    <div class="card-show-right-top">
    <div class="calendar">
      <p class="titre-formulaire-show">Louer votre Super Héros</p>
      <div class="color-blue">
        <div class="formulaire-new" data-controller="price-calculation" data-price-calculation-price-per-day-value="<%= @hero.price_per_day %>" >
        <%= simple_form_for([@hero, @booking]) do |f| %>
        <%= f.input :start_date, :label => "Date de début",
          as: :string,
          input_html: { data: { price_calculation_target: "start_date", action: "price-calculation#calculate" } } %>
          <%= f.input :end_date, :label => "Date de fin",
                      as: :string,
          input_html: { data: { price_calculation_target: "end_date", action: "price-calculation#calculate" } } %>
          <div data-price-calculation-target="totalPrice" style="text-align:center;"></div>
          <div data-bs-toggle="modal" data-bs-target="#exampleModal">
          </div>
          </div>
          </div>
          <div class="formulaire-button"><%= f.button :submit, "Réserver"%></div>
      </div>
    </div>
    <div class="card-show-right-bottom">
          <div class="map">
            <div style="width: 100%; height: 250px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          </div>
      <% end %>
      </div>
    </div>
</div>
