<!-- Find me in app/views/heros/show.html.erb -->
<div class="container py-5">
  <div class="row">
    <div class="bg-white rounded text-center">
      <h2 class="fw-bold">Buenvenuti <%= @hero.name %></h1>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="row">
    <div class="col-sm-6 bg-white rounded text-center">
      <h2>[ photo ]</h2>
    </div>
    <div class="col-sm-6 bg-white rounded text-center">
      <h2 class="fw-bold">Louez votre super hero</h3>
      <p>Prix par jour: <%= @hero.price_per_day %>CHF</p>
    </div>
  </div>
</div>

<div class="container-fluid py-5">
  <div class="row">
    <div class="col-sm-6 bg-white rounded text-center">
      <h5 class="fw-bold"><%= @hero.description %></h5>
      <p class="text-start">Prix par jour: <%= @hero.price_per_day %>CHF</p>
    </div>
    <div class="col-sm-6 bg-white rounded text-center">
      <h3 class="fw-bold">Où est ton super hero ?</h3>
      <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
