<div class="show-hero">
  <% @hero_photo_url = cl_image_path(@hero.photos.first.key) %>
  <div class="body">
    <div class="container-fluid">
      <div class="row">
        <h1 class="fw-bold"><%= @hero.name %></h1>
        <div class="col-sm-6 bg-white rounded text-center">
          <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
          <div class="cards">
            <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
            <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
            <div class="card-category" style="background-image: linear-gradient(rgba(500, 500, 500,0.1), rgba(500, 500, 500,0.1)), url('<%= @hero_photo_url %>')"></div>
          </div>
        </div>

        <div class="col-sm-6 bg-white rounded text-center">
          <div class="calendar">
            <h5 class="fw-bold">Louer votre Super Héro</h5>
          <div data-controller="price-calculation" data-price-calculation-price-per-day-value="<%= @hero.price_per_day %>" >
          <%= simple_form_for(@booking) do |f| %>
          <%= f.input :start_date,
              as: :string,
              input_html: { data: { price_calculation_target: "start_date", action: "price-calculation#calculate" } } %>
              <%= f.input :end_date,
              as: :string,
              input_html: { data: { price_calculation_target: "end_date", action: "price-calculation#calculate" } } %>
              <div data-price-calculation-target="totalPrice"></div>
              <%= f.button :submit, "Réserver" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid py-5">
  <div class="row">
    <div class="col-sm-6 bg-white rounded text-center mt-4 p-3 mb-5 bg-white rounded shadow-sm">
      <h5 class="fw-bold"><%= @hero.description %></h5>
      <p class="text-start">Prix par jour: <%= @hero.price_per_day %>CHF</p>
    </div>
    <div class="col-sm-6 bg-white rounded text-center">
      <h3 class="fw-bold">Où est ton super hero ?</h3>
      <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>
</div>
</div>
</div>
