<div class="container">
  <div class="cards">
    <div class="card-new-signup">
      <div class="cardh1">
        <h2>Log in to your account</h2>
        <p>Welcome back! Please enter your details.</p>
      </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "first_name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "last_name" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
        <label class="form-check-label" for="form2Example31"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <div class="btn_signup">
    <%= f.button :submit, "Sign in" %>
  </div>

  <div class="text-center">
    <p>Don't have an account? <a href="#!">Register</a></p>
    <p>or sign up with:
    <i class="fa-brands fa-google"></i>
    </p>
  </div>

<% end %>
</div>
</div>
</div>
