<div class="container">
  <div class="row">
    <div class="col-md-12">

<div class="cards">
  <%= image_tag @current_user.photo.url %>
  <h1>Welcome <%= @current_user.first_name %> </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptates consequatur cum doloremque neque harum non alias! Aliquid culpa repellendus ducimus, ullam facilis saepe magnam, id laborum, voluptas fuga ratione.</p>
</div>

<h3>Location de super héros en cours</h3>
        <% @bookings_as_tenant.each do |booking| %>
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                  <%= cl_image_tag(booking.hero.photos.first&.key, class:"movie-image") %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= booking.hero.name %></h5>
                  <p class="card-text"><%= booking.hero.description %></p>
                  <p class="card-text"><small class="text-body-secondary"> Prix total : <%= booking.total_price %> </small></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>


<h3>Mes super héros disponible à la location</h3>
      <% @heros_for_rent.each do |hero| %>
        <div class="hero">
          <h2><%= hero.name %></h2>
          <p><%= hero.description %></p>
          <p><%= hero.price_per_day %></p>
          <%# <p><%= hero.user.email %>
        </div>
      <% end %>




    </div>
  </div>
</div>
