<div style="margin-top: 80px;">
  <div class="container" data-controller="onglet">
    <div class="card-dashboard">
      <div class="dashboard-top">
        <div class="avatar-dashboard">
          <%= image_tag @current_user.photo.url, class: "rounded-circle" %>
        </div>
        <div>
          <h1 class="welcome">Bienvenue <%= @current_user.first_name %> </h1>
        </div>
      </div>
      <div class="litle-case">
        Nombre de réservation : <%= @bookings_as_tenant.count %>
      </div>
    </div>
    <div class="onglet">
      <button class="button-dashboard" data-action="click->onglet#reservations">Mes réservations</button>
      <button class="button-dashboard" data-action="click->onglet#heros">Mes Super Héros à louer</button>
      <button class="button-dashboard" data-action="click->onglet#booked">Mes reservations passées</button>
    </div>
    <div class="list-reservation cards visible" data-onglet-target="reservations">
      <h3>Mes réservations</h3>
        <% @bookings_as_tenant.each do |booking| %>
          <div class="card-product">
            <%= cl_image_tag(booking.hero.photos.first&.key, class:"card-img") %>
              <div class="card-product-infos">
                <h5><%= booking.hero.name %></h5>
                <p><%= booking.hero.description %></p>
                <p class="dates">Dates : <%= I18n.l(booking.start_date, format: "%d %B %Y") %> ➔ <%= I18n.l(booking.end_date, format: "%d %B %Y") %></p>
                <p class="price">Prix total : <strong> <%=  booking.total_price %> €</strong></p>
              </div>
          </div>
        <% end %>
    </div>
    <div class="list-heros cards unvisible" data-onglet-target="heros">
      <h3>Mes Super Héros à louer</h3>
        <% @heros_for_rent.each do |hero| %>
          <div class="card-product">
            <%= cl_image_tag(hero.photos.first&.key, class:"movie-image") %>
            <div class="card-product-infos">
              <h5><%= hero.name %></h5>
              <p><%= hero.description %></p>
              <p class="price">Prix par jour : <strong> <%= hero.price_per_day %> €</strong></p>
            </div>
          </div>
        <% end %>
    </div>
    <div class="list-booked cards unvisible" data-onglet-target="booked">
      <h3>Mes réservations passées</h3>
          <div class="card-product">
            <%= cl_image_tag(Hero.find_by(name:"Superman").photos.first&.key, class:"card-img") %>
            <div class="card-product-infos">
              <h5><%=Hero.find_by(name:"Superman").name %></h5>
              <p><%= Hero.find_by(name:"Superman").description %></p>
              <p class="dates"> Dates : 26 fevrier 2024 ➔ 28 fevrier 2024</p>
              <p class="price">Prix total : 200 €</p>
            </div>
          </div>
    </div>
  </div>
</div>
