
<div class="banner mb-3">
    <h1>Votre Super Héros favori</h1>
    <h1>à côté de chez vous !</h1>
      <p class="formulaire">
        <%= form_tag "/heros", method: "GET" do %>
        <%= text_field_tag :search_by_address, params[:search_by_address], placeholder: "Nom de votre ville" %>
        <%= submit_tag "Rechercher", class: "button-banner" %>
  <% end %></p>
</div>
<div class="container">
    <div class="cards">
      <% @heros.sample(3).each do |hero| %>
        <div class="card">
          <%= hero.photos.attached? ? cl_image_tag(hero.photos.first&.key, alt: "#{hero.name}", class:"movie-image") : image_tag("superhero.jpg")%>
            <div class="text"><p class="h2"><%= hero.name %></p><br>
            <p class="fs-6 p-3"><%= hero.description %></p>
            </div>
            <div class="card-footer"><%= link_to "Montrer", hero_path(hero), class:"button"%>
            <span><%= hero.price_per_day%>€ par jour</span></div>

            </div>
          <% end %>
    </div>
</div>
